name: Deploy to Firebase Hosting + Functions on merge

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install root dependencies
        run: npm ci --legacy-peer-deps

      - name: Build web app
        run: npm run build

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Add environment variables to functions
        run: |
          mkdir -p functions
          cat <<EOF > ./functions/.env
          STRIPE_SECRET_KEY=${{ secrets.STRIPE_TEST_SECRET_KEY }}
          CHECKOUT_SUCCESS_URL=https://test.kikoff.ch/thank-you
          CHECKOUT_CANCEL_URL=https://test.kikoff.ch/checkout
          EOF

      - name: Install functions dependencies
        run: |
          cd functions
          npm install --legacy-peer-deps
          cd ..

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_KIKOFF_CH_14E6B }}'

      - name: Deploy to Firebase (hosting + functions)
        run: |
          firebase deploy --only hosting,functions --project kikoff-ch-14e6b --non-interactive --force
